---
title: Dev Feed
listed: false
published: true
response_type: application/atom+xml
content_type: authors
---
{% extends 'feed' %}

{% block 'subtitle' %}
%subtitle {{ page.title | escape }}
{% endblock %}

{% block 'entries' %}

-# Posts
{% for post in author.posts %}
{% if forloop.index0 < 10 %}
{% include 'feed_post_entry' with post %}
{% endif %}
{% endfor %}

-# Updates
{% for update in author.updates %}
{% if forloop.index0 < 10 %}
{% include 'feed_update_entry' with update %}
{% endif %}
{% endfor %}

-# Tutorials
{% for tutorial in author.tutorials %}
{% if forloop.index0 < 10 %}
{% include 'feed_tutorial_entry' with tutorial %}
{% endif %}
{% endfor %}

{% endblock %}
