---
title: Project Updates
listed: true
published: true
content_type: projects
---
{% extends 'index' %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted blue segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/projects" class="section">Projects</a>
    <div class="divider"> / </div>
    <a href="/projects/{{ project._slug }}" class="section">{{ project.name | escape }}</a>
    <div class="divider"> / </div>
    <div class="active section">Updates</div>
  </div>
</div>
{% endblock %}

<!-- TODO: Fix feed link -->
{% block 'html_head' %}  {{ '/feed/updates' | auto_discovery_link_tag }}{% endblock %}

{% block 'header' %}
    <i class="bullhorn icon"></i>
    <div class="content">
      <span class="header">{{ project.name | escape }}</span>
      <span class="sub header">Updates</span>
    </div>
{% endblock %}

{% block 'body/main' %}
<!-- update-list -->

<div class="ui blue stacked segment">
  <div class="ui divided items">
{% with_scope project: project %}
{% paginate contents.project_updates by 10 %}
{% for update in paginate.collection %}
{% include 'update_list_item' with update %}
{% endfor %}
{% include 'pagination' with paginate, color: 'blue' %}
{% endpaginate %}
{% endwith_scope %}
  </div>
</div>

<!-- /update-list -->
{% endblock %}
