<!-- dev -->

<a href="/devs/{{ author._slug }}" class="item" title="Jump to profile">
  <i class="user icon"></i>
  <div class="content">
    <span class="title">{{ author.handle | escape }}</span>
    <span class="description">{{ author.brief | escape }}</span>
  </div>
</a>

<!-- /dev -->
