<!-- author -->

<a href="/devs/{{ author._slug }}" class="ui tiny image label author">
  <img src="{% if author.avatar_type == 'Gravatar' %}{{ author.email | gravatar_url: 'd:mm', 's:22' }}{% else %}{{ author.avatar.url | escape }}{% endif %}" />
  {{ author.handle | escape }}
</a>

<!-- /author -->
