<!-- author -->

<a href="/devs/{{ author._slug }}" class="ui image label author">
  <img src="{% if author.avatar_type == 'Gravatar' %}{{ author.email | gravatar_url }}{% else %}{{ author.avatar.url | escape }}{% endif %}" />
  {{ author.handle | escape }}
</a>

<!-- /author -->
