<!-- tutorial -->

<a href="/tutorials/{{ tutorial._slug }}" class="item" title="Jump to tutorial">
  <div class="content">
    <div class="title"><i class="book icon"></i> {{ tutorial.title | escape }}</div>
    <div class="description">{{ tutorial.brief | escape }}</div>
  </div>
</a>

<!-- /tutorial -->
