<!-- post -->

<a href="/posts/{{ post._slug }}" class="item" title="Jump to post">
  <div class="content">
    <span class="title"><i class="bookmark icon"></i> {{ post.title | escape }}</span>
    <span class="description">{{ post.brief | escape }}</span>
  </div>
</a>

<!-- /post -->
