-# Full listing entry for a category.
-# Required variables:
  category - Category to display information about

.item
  %a.image{ :href => '{% path_to category %}', :title => '{{ category.name | escape }}' }
    {% if category.image and category.image.url %}
    %img{ :src => '{{ category.image | resize: "175x100#" | escape }}', :alt => '{{ category.name | escape }}' }
    {% endif %}

  .content
    %a.header{ :href => '{% path_to category %}' }
      %h3 {{ category.name | escape }}

    .meta
      {% include 'item_count' with text: 'post',     icon: 'newspaper', count: category.posts.size     %}
      {% include 'item_count' with text: 'tutorial', icon: 'book',      count: category.tutorials.size %}
      {% include 'item_count' with text: 'project',  icon: 'lab',       count: category.projects.size  %}
      {% include 'item_count' with text: 'update',   icon: 'bullhorn',  count: category.updates.size   %}

    .description
      %p {{ category.brief | escape }}

    {% if category.posts.size == 0 and category.tutorials.size == 0 and category.projects.size == 0 and category.updates.size == 0 %}
    {% include 'empty' %}
    {% else %}
    .extra
      .ui.divided.very.relaxed.list
        -# Posts
        {% for post in category.posts %}
        {% if forloop.index0 < 2 %}
        {% include 'post_preview' with post %}
        {% endif %}
        {% endfor %}

        -# Tutorials
        {% for tutorial in category.tutorials %}
        {% if forloop.index0 < 2 %}
        {% include 'tutorial_preview' with tutorial %}
        {% endif %}
        {% endfor %}

        -# Projects
        {% for project in category.projects %}
        {% if forloop.index0 < 2 %}
        {% include 'project_preview' with project %}
        {% endif %}
        {% endfor %}

        -# Updates
        {% for update in category.updates %}
        {% if forloop.index0 < 2 %}
        {% include 'update_preview' with update %}
        {% endif %}
        {% endfor %}
    {% endif %}
