-# Displays a segment containing the comments for an entry.
-# Required variables:
  color - Color of the segment
-# Optional variables:
  obj - Entry to display comments for (defaults to 'entry')

{% unless obj %}{% assign obj = entry %}{% endunless %}
#comments{ :class => 'ui {{ color }} segment' }
  {% if obj.allow_comments %}
  {% include 'disqus' with obj %}
  {% else %}
  %span.muted
    %i.lock.icon
    :plain
      Comments have been disabled for this entry.
  {% endif %}
