-# Displays a link to the comments section of an object.
-# Required variables:
  obj - Object that can have comments
-# Optional variables:
  target - Object to link to if different from `obj`

{% if obj.allow_comments %}
{% unless target %}{% assign target = obj %}{% endunless %}
%a.comments-link{ :href => '{% path_to target %}#comments' }
  %i.comments.outline.icon
  %span.disqus-comment-count{ :data => { :disqus_identifier => '{% path_to obj %}' } } Comments
{% endif %}
