-# Inserts the Disqus comments widget.
-# Required variables:
  obj - Object to display comments for

{% unless category %}{% assign category = obj.category %}{% endunless %}
#disqus_thread
%script{ :type => 'text/javascript' }
  :plain
    var disqus_shortname   = '{{ site.seo_title | downcase | dasherize }}';
    var disqus_identifier  = '{% if target %}{{ target | escape }}{% else %}{% path_to obj %}{% endif %}';
    var disqus_title       = '{{ page.title | escape }}{% if subtitle %} - {{ subtitle | escape }}{% endif %}';{% if category and category.disqus_id %}
    var disqus_category_id = '{{ category.disqus_id | escape }}';{% endif %}
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
%noscript
  :plain
    Please enable JavaScript to view the
  %a{ :href => 'https://disqus.com/?ref_noscript', :rel => 'nofollow' } comments powered by Disqus.
