-# Adds the JavaScript needed to replace comment link text with a comment count.
-# This snippet must be placed at the bottom of the page body.

%script{ :type => 'text/javascript' }
  :plain
    var disqus_shortname = '{{ site.seo_title | dasherize }}';
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
