<!-- footer -->

<div id="footer" class="ui inverted borderless segment">
  <div class="ui stackable grid">
    <div id="logo" class="center aligned four wide column">{{ site.name | escape }}</div>
    <div id="site-nav" class="two wide column">
      <div class="ui link list">
{% for page in site.pages %}
{% if page.depth == 1 %}
        <a href="/{{ page.slug | escape }}" class="item">{{ page.title | escape }}</a>
{% endif %}
{% endfor %}
      </div>
    </div>
    <div id="site-links" class="two wide column">
      <div class="ui link list">
      </div>
    </div>
  </div>
</div>

<!-- /footer -->
