-# Footer section for all pages on the site.

.ui.stackable.grid
  {% capture 'site_logo' %}
  {% editable_file 'logo', hint: 'Site-wide logo displayed in the page footer.' %}{% endeditable_file %}
  {% endcapture %}
  #logo.center.aligned.four.wide.column
    %a{ :href => '/' }
      %img.ui.center.aligned.image{ :src => '{% if logo and logo.url %}{{ site_logo | resize: "250x150#" | escape }}{% else %}{{ "logo_placeholder.png" | theme_image_url | escape }}{% endif %}', :alt => '{{ site.name | escape }}' }

  #site-nav.two.wide.column
    .ui.link.list
      {% with_scope depth: 1 %}
      {% for p in site.pages %}
      {% if p.listed? and p.published? %}
      %a.item{ :href => '{% path_to p %}' } {{ p.title | escape }}
      {% endif %}
      {% endfor %}
      {% endwith_scope %}

  #site-links.two.wide.column
    .ui.link.list
      {% for link in contents.site_links %}
      %a.item{ :href => '{{ link.url | escape }}' } {{ link.name | escape }}
      {% endfor %}
