<!-- header -->

<div id="header" class="ui bottom segment">
  <h2 class="ui header">
    <i class="newspaper icon"></i>
    <div class="content">
      {{ page.title | escape }}
      <span class="sub header">{{ page.meta_description | escape }}</span>
    </div>
  </h2>
</div>

<!-- /header -->
