<!-- nav -->

<div id="nav" class="ui inverted borderless menu">
  <a class="{% if page.slug == 'index' %}active {% endif %}item" href="/">
    <i class="home icon"></i> Home
  </a>
  <a class="{% if page.slug == 'posts' %}active {% endif %}item" href="/posts">
    <i class="bookmark icon"></i> Posts
  </a>
  <a class="{% if page.slug == 'tutorials' %}active {% endif %}item" href="/tutorials">
    <i class="book icon"></i> Tutorials
  </a>
  <a class="{% if page.slug == 'projects' %}active {% endif %}item" href="/projects">
    <i class="code icon"></i> Projects
  </a>
  <a class="{% if page.slug == 'updates' %}active {% endif %}item" href="/updates">
    <i class="bullhorn icon"></i> Updates
  </a>

  <div class="right menu">
    <a class="item" href="/feed">
      <i class="rss icon"></i> Feed
    </a>
  </div>
</div>

<!-- /nav -->
