<!-- project -->

<a href="/projects/{{ project._slug }}" class="item" title="Jump to project">
  <i class="lab icon"></i>
  <div class="content">
    <span class="title">{{ project.name | escape }}{% if role %} - {{ role.role | escape }}{% endif %}</span>{% if project.featured %}
    <span class="ui mini label">
      <i class="star icon"></i>
      Featured
    </span>{% endif %}
    <span class="description">{{ project.brief | escape }}</span>
  </div>
</a>

<!-- /project -->
