<!-- project -->

<a href="/project/{{ project._slug }}" class="item" title="Jump to project">
  <i class="code icon"></i>
  <div class="content">
    <span class="title">{{ project.name | escape }}</span>
    <span class="description">{{ project.brief | escape }}</span>
  </div>
</a>

<!-- /project -->
