-# Full listing entry for a project.
-# Required variables:
  project - Project to display information about

%div{ :class => '{% if project.featured %}featured {% endif %}item' }
  {% if project.featured %}
  %span.ui.blue.ribbon.label Featured
  {% endif %}

  %a.image{ :href => '/projects/{{ project._slug }}', :title => '{{ project.name | escape }}' }
    {% if project.icon and project.icon.url %}
    %img{ :src => '{{ project.icon | resize: "175x175#" | escape }}', :alt => '{{ project.name | escape }}' }
    {% endif %}

  .content
    %a.header{ :href => '/projects/{{ project._slug }}' }
      %h3 {{ project.name | escape }}

    .meta
      {% include 'project_phase_label' with phase: project.phase %}
      {% include 'updates_meta' with project %}
      {% include 'disqus_link' with obj: project %}

    .description
      %p {{ project.brief | escape }}

    .extra
      .compact.ui.basic.tiny.buttons
        {% if project.components.size > 0 %}
        %a.button{ :href => '/projects/{{ project._slug }}/breakdown' } Breakdown
        {% endif %}
        {% if project.updates.size > 0 %}
        %a.button{ :href => '/projects/{{ project._slug }}/updates' } Updates
        {% endif %}
        {% if project.donations.size > 0 %}
        %a.button{ :href => '/projects/{{ project._slug }}/donations' } Donations
        {% endif %}
        {% for t in project.tabs %}
        %a.button{ :href => '/projects/{{ project._slug }}?tab={{ t._slug }}' } {{ t.name | escape }}
        {% endfor %}

      {% if project.updates.size > 0 %}
      .ui.divided.very.relaxed.list
        {% for update in project.updates %}
        {% include 'update_preview' with update %}
        {% endfor %}
      {% endif %}

      {% include 'tags_list' with tags: project.tags, tools: project.tools %}
