%a.item{ :href => '{% path_to project %}' }
  %i.lab.icon
  .content
    %span.title {{ project.name | escape }}
    {% if project.featured %}
    %span.ui.mini.label
      %i.star.icon
      -# TODO: Localize
      :plain
        Featured
    {% endif %}
    %br/
    %span.description {{ project.brief | escape }}
