-# Displays a preview of a tutorial part.
-# Required variables:
  part - Tutorial part to display

{% assign parent_tutorial = part.tutorial %}
%a.item{ :href => '{% path_to parent_tutorial %}?page={{ forloop.index }}' }
  .content
    %span.title {{ part.subtitle | escape }}
    %span.description {{ part.brief | escape }}
