<!-- part -->

<a href="/tutorials/parts/{{ part._slug }}" class="item" title="Jump to part {{ forloop.index }}">
  <div class="content">
    <div class="title">{{ part.subtitle | escape }}</div>
    <div class="description">{{ part.brief | escape }}</div>
  </div>
</a>

<!-- /part -->
