-# Link to a project's updates in the meta-section of a listing entry.
-# Required variables:
  project - Project object to link to

{% if project.updates.size > 0 %}
%a.project{ :href => '/projects/{{ project._slug }}/updates' }
  %i.bullhorn.icon
  %span {{ project.updates.size }} update{% if project.updates.size != 1 %}s{% endif %}
{% endif %}
