@import "font-awesome-sprockets";
@import "font-awesome";

@import "semantic-ui";

#nav.menu {
  border-radius: 0;
  margin-bottom: 0;
}

#pagination {
  padding-top: 2em;
  text-align: center;
}

#header.segment {
  border-radius: 0;
  margin-top: 0;
  padding-left: 23%;
  padding-right: 23%;
}

