---
title: Project
listed: true
published: true
content_type: projects
---
{% extends 'index' %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted blue segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/projects" class="section">Projects</a>
    <div class="divider"> / </div>
    <span class="active section">{{ page.title | escape }}</span>
  </div>
</div>
{% endblock %}

{% block 'header' %}{% if project.icon %}
    <img src="{{ project.icon.url | escape }}" alt="{{ project.name | escape }}" class="project-icon" />{% else %}
    <i class="lab icon"></i>{% endif %}
    <div class="content">
      {{ project.name | escape }}
    </div>
{% endblock %}

{% block 'body/main' %}
<!-- project -->

<div class="ui blue stacked segment">
</div>

<!-- /project -->
{% endblock %}
