---
title: Categories
listed: true
published: true
---
{% extends 'index' %}

{% block 'header' %}
    <i class="open folder outline icon"></i>
    <span class="content">{{ page.title | escape }}</span>
{% endblock %}

{% block 'body/main' %}
<!-- category-list -->

<div class="ui yellow stacked segment">
  <div class="ui divided items">
{% paginate contents.categories by 5 %}
{% for category in paginate.collection %}
{% include 'category_list_item' with category %}
{% endfor %}
{% include 'pagination' with paginate, color: 'yellow' %}
{% endpaginate %}
  </div>
</div>

<!-- /category-list -->
{% endblock %}
