---
title: Categories
listed: true
published: true
---
{% extends parent %}

{% block 'breadcrumbs' %}
#breadcrumbs.ui.inverted.yellow.segment
  .ui.breadcrumb
    %a.section{ :href => '/' } {{ site.index.title | escape }}
    .divider /
    %span.active.section {{ page.title | escape }}
{% endblock %}

{% block 'heading' %}{% include 'heading' with icon: 'open folder outline' %}{% endblock %}

{% block 'content' %}
{% block 'main' %}
#post-listing.ui.stacked.yellow.segment
  {% paginate contents.categories by 5 %}
  {% if paginate.current_page > paginate.total_pages or contents.categories.size == 0 %}
  {% include 'empty' %}
  {% else %}
  .ui.relaxed.divided.items
    {% for category in paginate.collection %}
    {% include 'category_entry' with category %}
    {% endfor %}
    {% include 'pagination' with paginate, color: 'yellow' %}
  {% endif %}
  {% endpaginate %}
{% endblock %}
-# TODO: Featured posts
{% endblock %}
