---
title: Categories
listed: true
published: true
---
{% extends 'index' %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted yellow segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <span class="active section">{{ page.title | escape }}</span>
  </div>
</div>
{% endblock %}

{% block 'header' %}
    <i class="open folder outline icon"></i>
    <div class="content">{{ page.title | escape }}</div>
{% endblock %}

{% block 'body/main' %}
<!-- category-list -->

<div class="ui yellow stacked segment">
  <div class="ui divided items">
{% paginate contents.categories by 5 %}
{% for category in paginate.collection %}
{% include 'category_list_item' with category %}
{% endfor %}
{% include 'pagination' with paginate, color: 'yellow' %}
{% endpaginate %}
  </div>
</div>

<!-- /category-list -->
{% endblock %}
