---
title: Developers
listed: true
published: true
---
{% extends parent %}

{% block 'breadcrumbs' %}
#breadcrumbs.ui.inverted.red.segment
  .ui.breadcrumb
    %a.section{ :href => '/' } {{ site.index.title | escape }}
    .divider /
    %span.active.section {{ page.title | escape }}
{% endblock %}

{% block 'heading' %}{% include 'heading' with icon: 'user' %}{% endblock %}

{% block 'content' %}
{% block 'main' %}
#post-listing.ui.stacked.red.segment
  {% paginate contents.authors by 10 %}
  {% if paginate.current_page > paginate.total_pages or contents.authors.size == 0 %}
  {% include 'empty' %}
  {% else %}
  .ui.relaxed.divided.items
    {% for author in paginate.collection %}
    {% include 'author_entry' with author %}
    {% endfor %}
    {% include 'pagination' with paginate, color: 'red' %}
  {% endif %}
  {% endpaginate %}
{% endblock %}
{% endblock %}
