---
title: Developers
listed: true
published: true
---
{% extends 'index' %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted red segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <span class="active section">{{ page.title | escape }}</span>
  </div>
</div>
{% endblock %}

{% block 'header' %}
    <i class="user icon"></i>
    <div class="content">{{ page.title | escape }}</div>
{% endblock %}

{% block 'body/main' %}
<!-- dev-list -->

<div class="ui red stacked segment">
  <div class="ui divided items">
{% paginate contents.authors by 10 %}
{% for author in paginate.collection %}
{% include 'author_list_item' with author %}
{% endfor %}
{% include 'pagination' with paginate, color: 'red' %}
{% endpaginate %}
  </div>
</div>

<!-- /dev-list -->
{% endblock %}
