---
title: Home
published: true
listed: true
---
!!! 5
%html{ :lang => '{{ locale }}' }

  %head
    -# To add a subtitle to the page, place it in the "subtitle" block.
    %title {{ page.title | escape }}{% block 'subtitle' %}{% endblock %} - {{ site.name | escape }}

    %meta{ :charset => 'utf-8' }
    %meta{ :name    => 'keywords',
           :content => '{{ site.meta_keywords | escape }}{% if page.meta_keywords %} {{ page.meta_keywords | escape }}{% endif %}{% if entry and entry.meta_keywords %} {{ entry.meta_keywords | escape }}{% endif %}' }
    %meta{ :name    => 'description',
           :content => '{% if entry and entry.meta_description %}{{ entry.meta_description | escape }}{% elsif page.meta_description %}{{ page.meta_description | escape }}{% else %}{{ site.meta_description | escape }}{% endif %}' }

    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '{{ "semantic-ui.min.css" | stylesheet_url | escape }}' }
    %link{ :rel => 'stylesheet', :type => 'text/css', :href => '{{ "application.css" | stylesheet_url | escape }}' }

    {% block 'feed' %}
    {% with_scope fullpath: 'feed' %}{% assign feed_page = site.pages.first %}{% endwith_scope %}
    %link{ :rel => 'alternate', :type => 'application/atom+xml', :href => '{% path_to feed_page %}' }
    {% endblock %}

    %script{ :type => 'text/javascript', :src => '{{ "jquery-1.11.3.min.js" | javascript_url | escape }}' }
    -# Pages can add additional scripts by placing them in the "javascripts" block.
    {% block 'javascripts' %}{% endblock %}

  %body
    #container
      #header
        {% include 'nav' %}
        {% block 'breadcrumbs' %}{% endblock %}
        #heading.ui.bottom.segment
          .ui.page.grid
            .sixteen.wide.column
              {% block 'heading' %}
              {% if parent %}
              {% include 'heading' %}
              {% else %}
              .ui.header {{ site.name | escape }}
              {% endif %}
              {% endblock %}

      #content
        .ui.page.grid
          .sixteen.wide.column
            -# All primary content goes in the "content" block.
            {% block 'content' %}
            .ui.segment
              {% editable_text 'homepage', format: 'html', hint: 'Homepage content' %}
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris accumsan mollis convallis. Aenean bibendum pulvinar laoreet. Integer quis pellentesque nibh. Quisque sodales euismod felis, vitae fringilla est rhoncus eleifend. Ut finibus convallis diam, sed venenatis tellus porttitor non. Donec ac enim at mauris ornare maximus. Etiam et porta nisl. Ut aliquam pellentesque fringilla. Nullam molestie tellus augue, in dictum libero lobortis et. Fusce nec nunc est. Pellentesque consequat tellus ac suscipit imperdiet. Integer id orci vulputate, fermentum ipsum at, congue nibh. Nullam consequat ac lorem eu imperdiet. Fusce dui enim, ornare iaculis nunc vitae, vulputate blandit mi. Morbi condimentum felis non ligula porta, eget molestie purus porttitor.</p>
              <p>Nulla convallis, sem eu ultricies blandit, ex eros gravida lacus, vel gravida lorem leo sed dolor. Donec scelerisque velit risus, eu consequat massa convallis a. Ut congue sapien in aliquam dapibus. Duis ultrices est felis, non egestas justo placerat vehicula. Nam quis molestie mi. Quisque quam erat, hendrerit et accumsan eu, sollicitudin non nibh. Duis volutpat sagittis diam quis interdum. Curabitur congue dictum mi. Nullam posuere, velit ut posuere tristique, ante dui gravida libero, sed commodo metus est sit amet arcu. Nunc posuere a nunc ac venenatis. Sed ac erat quis dolor lobortis scelerisque. Ut malesuada tortor eget porttitor feugiat. In pharetra tristique dui, ac aliquet lectus pulvinar sed. Integer imperdiet orci ipsum, a imperdiet nisi tincidunt nec. Morbi ac erat sit amet purus consectetur pellentesque facilisis et ipsum. Pellentesque at condimentum nisl.</p>
              <p>Praesent vel faucibus felis. Donec lacinia vitae magna venenatis hendrerit. Cras feugiat sagittis vulputate. Nulla imperdiet lorem eu ornare dictum. In aliquam dapibus tellus vitae vulputate. Curabitur nec nisl fringilla, semper nisl vel, dictum nisi. Fusce vitae nibh justo. Pellentesque aliquam tincidunt velit, sed ullamcorper neque malesuada sit amet. Praesent tempus dui odio, sed venenatis nibh dignissim eu.</p>
              <p>Proin bibendum dui sed est dictum, non laoreet nisl iaculis. Pellentesque eget est vitae lectus pulvinar posuere et sit amet odio. Maecenas posuere rutrum tellus, nec dictum augue consequat blandit. Praesent vitae dictum mauris, sit amet gravida nunc. Ut at ex nibh. Fusce et dolor sit amet tellus facilisis eleifend non at urna. Aenean mollis nisl in quam tristique, ut mattis elit mollis. Pellentesque ac fringilla orci, ut porta diam. Mauris at mauris commodo, congue elit ut, lacinia elit.</p>
              <p>Integer vestibulum hendrerit neque eu elementum. Fusce lacinia sed nisl et maximus. Ut dignissim arcu vel dui posuere, nec porttitor eros cursus. Curabitur leo turpis, tempor vitae gravida sed, efficitur et erat. Integer euismod sem sed sagittis tincidunt. Vivamus blandit sed orci at hendrerit. Nulla facilisi. Sed finibus, mauris id posuere sagittis, turpis mi eleifend quam, vel tempus orci sapien accumsan neque. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
              <p>Vivamus dignissim lorem dolor, vel sollicitudin nunc mollis interdum. Nulla cursus erat non nulla sollicitudin, ac lacinia augue feugiat. In non lacus eleifend, tempor diam in, egestas purus. Nunc ac varius nunc. Etiam non accumsan turpis, vel venenatis justo. Duis at sapien vel enim tempor condimentum vel eu odio. Quisque pretium luctus felis, sit amet posuere orci luctus ornare. In et erat congue, tempus tellus in, faucibus risus. Ut fringilla et justo ut tincidunt. Proin efficitur tellus a nibh tempus accumsan.</p>
              <p>Maecenas iaculis turpis in quam volutpat, vel cursus turpis condimentum. Duis bibendum ante quis faucibus congue. Duis eget ante metus. Duis imperdiet augue eu massa tempor, id pulvinar dui scelerisque. Nulla facilisi. Pellentesque pretium turpis vel nibh porta accumsan. Cras fermentum ornare posuere. Quisque sed vulputate nisi. Nulla vel urna euismod, congue tellus et, vestibulum leo. Fusce non consequat orci, nec fermentum metus. Nunc id velit in dolor sagittis rhoncus.</p>
              {% endeditable_text %}
            {% endblock %}

      #footer
        #related
          .ui.centered.grid
            .fourteen.wide.column
              {% block 'related' %}
              {% include 'latest_posts' %}
              {% include 'latest_updates' %}
              {% include 'featured_projects' %}
              {% include 'featured_tutorials' %}
              {% endblock %}

        .ui.inverted.borderless.segment
          .ui.stackable.grid
            {% block 'footer' %}
            {% capture 'logo_url' %}{% editable_file 'logo', hint: 'Site-wide logo displayed in the page footer.', fixed: true %}{% endeditable_file %}{% endcapture %}
            #logo.center.aligned.four.wide.column
              %a{ :href => '/' }
                %img.ui.center.aligned{ :src => '{% if logo_url %}{{ logo_url | resize: "240x100#" | escape }}{% else %}{{ "logo_placeholder.png" | theme_image_url | escape }}{% endif %}', :alt => '{{ site.name | escape }}' }

            #site-nav.two.wide.column
              %span Site Links
              %hr
              .ui.link.list
                {% with_scope depth: 1 %}
                {% for p in site.pages %}
                {% if p.listed? and p.published? %}
                %a.item{ :href => '{% path_to p %}' } {{ p.title | escape }}
                {% endif %}
                {% endfor %}
                {% endwith_scope %}

            #network.two.wide.column
              {% if contents.site_links.size > 0 %}
              %span Network
              %hr
              .ui.link.list
                {% for link in contents.site_links %}
                %a.item{ :href => '{{ link.url | escape }}' } {{ link.name | escape }}
                {% endfor %}
              {% endif %}

            .two.wide.column

            .six.wide.column
              {% editable_text 'footer_text', format: 'html', rows: 3, hint: 'Footer text.', fixed: true %}<p>Site powered by <a href="http://www.locomotivecms.com/">LocomotiveCMS</a>.<p>{% endeditable_text %}
              %p &copy; {{ today | date: '%Y' }} {{ site.name | escape }}
            {% endblock %}

    {% include 'disqus_comment_links' %}
    {% capture 'tracking_id' %}{% editable_text 'google_analytics_tracking_id', format: 'raw', rows: 1, hint: 'UA-######', fixed: true %}{% endeditable_text %}{% endcapture %}
    %script{ :type => 'text/javascript' }
      :plain
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', '{{ tracking_id | escape }}', 'auto');
        ga('send', 'pageview');
    -# Pages can run custom scripts after the page is loaded by including them in the "scripts" block.
    {% block 'scripts' %}{% endblock %}
