---
title: Projects
listed: true
published: true
---
{% extends parent %}

{% block 'feed' %}
{% with_scope fullpath: 'feed/projects' %}{% assign feed_page = site.pages.first %}{% endwith_scope %}
%link{ :rel => 'alternate', :type => 'application/atom+xml', :href => '{% path_to feed_page %}' }
{% endblock %}

{% block 'breadcrumbs' %}
#breadcrumbs.ui.inverted.blue.segment
  .ui.breadcrumb
    %a.section{ :href => '/' } {{ site.index.title | escape }}
    .divider /
    %span.active.section {{ page.title | escape }}
{% endblock %}

{% block 'heading' %}{% include 'heading' with icon: 'lab' %}{% endblock %}

{% block 'content' %}
{% block 'main' %}
#post-listing.ui.stacked.blue.segment
  {% paginate contents.projects by 5 %}
  .ui.relaxed.divided.items
    {% for project in paginate.collection %}
    {% include 'project_entry' with project %}
    {% endfor %}
    {% include 'pagination' with paginate, color: 'blue' %}
    {% endpaginate %}
{% endblock %}
-# TODO: Latest updates
{% endblock %}
