---
title: Projects
listed: true
published: true
---
{% extends 'index' %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted blue segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <div class="active section">{{ page.title | escape }}</div>
  </div>
</div>
{% endblock %}

{% block 'html_head' %}  {{ '/feed/projects' | auto_discovery_link_tag }}{% endblock %}

{% block 'header' %}
    <i class="lab icon"></i>
    <span class="content">{{ page.title | escape }}</span>
{% endblock %}

{% block 'body/main' %}
<!-- tutorials-list -->

<div class="ui blue stacked segment">
  <div class="ui divided items">
{% paginate contents.projects by 5 %}
{% for project in paginate.collection %}
{% include 'project_list_item' with project %}
{% endfor %}
{% include 'pagination' with paginate, color: 'blue' %}
{% endpaginate %}
  </div>
</div>

<!-- /tutorials-list -->
{% endblock %}
