---
title: Search Results
listed: true
published: true
---
{% extends parent %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted orange segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <span class="active section">{{ page.title | escape }}</span>
  </div>
</div>
{% endblock %}

{% block 'header' %}
    <i class="search icon"></i>
    <div class="content">{{ page.title | escape }}</div>
{% endblock %}

{% block 'body/main' %}{% if params['tag'] %}{% include 'tag_search' with tag: params['tag'] %}{% endif %}{% endblock %}
