---
title: Tools
listed: true
published: true
---
{% extends parent %}

{% block 'breadcrumbs' %}
#breadcrumbs.ui.inverted.purple.segment
  .ui.breadcrumb
    %a.section{ :href => '/' } {{ site.index.title | escape }}
    .divider /
    %span.active.section {{ page.title | escape }}
{% endblock %}

{% block 'heading' %}{% include 'heading' with icon: 'configure' %}{% endblock %}

{% block 'content' %}
{% block 'main' %}
#post-listing.ui.stacked.purple.segment
  {% paginate contents.tools by 5 %}
  {% if paginate.current_page > paginate.total_pages or contents.tools.size == 0 %}
  {% include 'empty' %}
  {% else %}
  .ui.relaxed.divided.items
    {% for tool in paginate.collection %}
    {% include 'tool_entry' with tool %}
    {% endfor %}
    {% include 'pagination' with paginate, color: 'purple' %}
  {% endif %}
  {% endpaginate %}
{% endblock %}
{% endblock %}

{% block 'related' %}
{% include 'featured_projects' %}
{% endblock %}
