---
title: Tools
listed: true
published: true
---
{% extends 'index' %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted purple segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <div class="active section">{{ page.title | escape }}</div>
  </div>
</div>
{% endblock %}

{% block 'header' %}
    <i class="configure icon"></i>
    <span class="content">{{ page.title | escape }}</span>
{% endblock %}

{% block 'body/main' %}
<!-- tool-list -->

<div class="ui purple stacked segment">
  <div class="ui divided items">
{% paginate contents.tools by 5 %}
{% for tool in paginate.collection %}
{% include 'tool_list_item' with category %}
{% endfor %}
{% include 'pagination' with paginate, color: 'purple' %}
{% endpaginate %}
  </div>
</div>

<!-- /tool-list -->
{% endblock %}
