---
title: Tutorials
listed: true
published: true
---
{% extends parent %}

{% block 'feed' %}
{% with_scope fullpath: 'feed/tutorials' %}{% assign feed_page = site.pages.first %}{% endwith_scope %}
%link{ :rel => 'alternate', :type => 'application/atom+xml', :href => '{% path_to feed_page %}' }
{% endblock %}

{% block 'breadcrumbs' %}
#breadcrumbs.ui.inverted.green.segment
  .ui.breadcrumb
    %a.section{ :href => '/' } {{ site.index.title | escape }}
    .divider /
    %span.active.section {{ page.title | escape }}
{% endblock %}

{% block 'heading' %}{% include 'heading' with icon: 'book' %}{% endblock %}

{% block 'content' %}
{% block 'main' %}
#post-listing.ui.stacked.green.segment
  {% paginate contents.tutorials by 5 %}
  {% if paginate.current_page > paginate.total_pages or contents.tutorials.size == 0 %}
  {% include 'empty' %}
  {% else %}
  .ui.relaxed.divided.items
    {% for tutorial in paginate.collection %}
    {% include 'tutorial_entry' with tutorial %}
    {% endfor %}
    {% include 'pagination' with paginate, color: 'green' %}
  {% endif %}
  {% endpaginate %}
{% endblock %}
-# TODO: Featured tutorials
{% endblock %}
