---
title: Tutorials
listed: true
published: true
---
{% extends 'index' %}

{% block 'html_head' %}  {{ '/feed/tutorials' | auto_discovery_link_tag }}{% endblock %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted green segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <div class="active section">{{ page.title | escape }}</div>
  </div>
</div>
{% endblock %}

{% block 'header' %}
    <i class="book icon"></i>
    <span class="content">{{ page.title | escape }}</span>
{% endblock %}

{% block 'body/main' %}
<!-- tutorials-list -->

<div class="ui green stacked segment">
  <div class="ui divided items">
{% paginate contents.tutorials by 5 %}
{% for tutorial in paginate.collection %}
{% include 'tutorial_list_item' with tutorial %}
{% endfor %}
{% include 'pagination' with paginate, color: 'green' %}
{% endpaginate %}
  </div>
</div>

<!-- /tutorials-list -->
{% endblock %}
