---
title: Updates
listed: true
published: true
---
{% extends 'index' %}

{% block 'breadcrumbs' %}
<div id="breadcrumbs" class="ui inverted blue segment">
  <div class="ui breadcrumb">
    <a href="/" class="section">Home</a>
    <div class="divider"> / </div>
    <a href="/projects" class="section">Projects</a>
    <div class="divider"> / </div>
    <div class="active section">{{ page.title | escape }}</div>
  </div>
</div>
{% endblock %}

{% block 'html_head' %}  {{ '/feed/updates' | auto_discovery_link_tag }}{% endblock %}

{% block 'header' %}
    <i class="bullhorn icon"></i>
    <span class="content">{{ page.title | escape }}</span>
{% endblock %}

{% block 'body/main' %}
<!-- update-list -->

<div class="ui blue stacked segment">
  <div class="ui divided items">
{% paginate contents.project_updates by 10 %}
{% for update in paginate.collection %}
{% include 'update_list_item' with update %}
{% endfor %}
{% include 'pagination' with paginate, color: 'red' %}
{% endpaginate %}
  </div>
</div>

<!-- /update-list -->
{% endblock %}
