---
title: View Post
listed: true
published: true
content_type: posts
---
{% extends parent %}

{% block 'breadcrumbs' %}
{% with_scope fullpath: 'posts' %}{% assign posts_page = site.pages.first %}{% endwith_scope %}
#breadcrumbs.ui.inverted.teal.segment
  .ui.breadcrumb
    %a.section{ :href => '/' } {{ site.index.title | escape }}
    .divider /
    %a.section{ :href => '{% path_to posts_page %}' } {{ posts_page.title | escape }}
    .divider /
    %span.active.section {{ page.title | escape }}
{% endblock %}

{% block 'heading' %}{% include 'heading' with icon: 'newspaper', subtitle: entry.subtitle %}{% endblock %}

{% block 'content/main' %}
#post.ui.teal.segment

  .ui.right.rail
    {% include 'author_blurb' with author: post.author %}

  .meta
    {% include 'author_label' with author: post.author %}
    {% include 'post_date' with date: post.created_at %}
    {% include 'category_meta' with category: post.category %}
    {% include 'disqus_link' with obj: post %}

  {% if post.image and post.image.url %}
  .featured-image{ :style => 'background-image: url({{ post.image | resize: "975x85#" | escape }});' }
  {% endif %}

  {% if post.featured %}
  %span.ui.teal.ribbon.label Featured
  {% endif %}

  .main-content
    :plain
      {{ post.content }}

  .extra
    {% include 'tags_list' with tags: post.tags, tools: post.tools %}

  .links
    {% assign prev_entry = post.previous %}
    {% if prev_entry %}
    .left.floated.column
      %a{ :href => '{% path_to prev_entry %}' }
        %i.angle.double.left.icon
        :plain
          {{ prev_entry.title | escape }}
    {% endif %}
    {% assign next_entry = post.next %}
    {% if next_entry %}
    .right.floated.column
      %a{ :href => '{% path_to next_entry %}' }
        :plain
          {{ next_entry.title | escape }}
        %i.angle.double.right.icon
    {% endif %}

{% include 'comments' with color: 'teal' %}
{% endblock %}
