---
title: Projects Feed
listed: false
published: true
response_type: application/rss+xml
---
{% extends 'parent' %}
{% block 'info' %}    <title>{{ site.seo_title | escape }} - Projects</title>
    <description>{% for page in site.pages %}{% if page.slug == 'projects' %}{{ page.meta_description | escape }}{% endif %}{% endfor %}</description>{% endblock %}

{% block 'items' %}{% include 'feed_projects' %}{% endblock %}

